<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUIComponentPartial")

<body>

    @await Component.InvokeAsync("_TopbarUIComponentPartial")

    @await Component.InvokeAsync("_NavbarUIComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterUIComponentPartial")

    @await Component.InvokeAsync("_ScriptUIComponentPartial")

</body>

</html>